.circle {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, blue 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, blue);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, blue 100%, red 95%);
}

@keyframes bounce {
	0% { transform: translate(0%, 0%); }
	25% { transform: translate(0%, -100%); }
	50% { transform: translate(0%, 0%); }
	75% { transform: translate(0%, 100%); }
	100% { transform: translate(0%, 0%); }
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#ball {
	width: 200px;
	height: 200px;

	position: absolute;
	left: 40%;
	top: 40%;
}
.spinner {
	animation: spin 3s infinite linear;
}
.bouncer {
	animation: bounce 1s infinite linear;
}
