{% extends "base.html" %}

{% block title %}Bola{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			crossorigin="anonymous">  	
	</script>
	  <meta charset="UTF-8">
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ballgamestyle.css')}}">
{% endblock %}

{% block page_content %}
	<button id="submit-button" name="submit-button" type="submit" value="submit" style="font-size:25px; background-color: green"> Submit Score! </button>
	<button id="scoreReset-button" style="font-size:25px; background-color: red"> Reset! </button>

	<div id="highestscore-text" style="font-size:40px">Highest Score: {% if highscore %}{{ highscore }}{% else %}0{% endif %}</div>
	<div id="score-text" style="font-size:40px">Score: 0</div>

	<div id="ball">
		<div class="bouncer">
			<div class="circle spinner"></div>
		</div> 
	</div>
	
	<script type="text/javascript">
		document.getElementsByTagName("BODY")[0].style.backgroundColor = "yellow";
		var score = 0;

		function updateScoreText(){
			document.getElementById("score-text").innerHTML = "Score: " + score;
		}

		// Post to the provided URL with the specified parameters.
		function post(path, parameters) {
		    var form = $('<form></form>');

		    form.attr("method", "post");
		    form.attr("action", path);

		    $.each(parameters, function(key, value) {
		        var field = $('<input></input>');

		        field.attr("type", "hidden");
		        field.attr("name", key);
		        field.attr("value", value);

		        form.append(field);
		    });

		    // The form needs to be a part of the document in
		    // order for us to be able to submit it.
		    $(document.body).append(form);
		    form.submit();
		}

		function incrementScore(){
			score ++;
			updateScoreText();
		}

		function resetScore(){
			score = 0;
			updateScoreText();
		}

		function show(elementID){
			document.getElementById(elementID).style.display = 'Block';
		}

		$ ("#submit-button").on("click", function(event) {
			params = {player: '{{ player }}', score: score};
			post("/submit", params);
		});

		$ ("#submit-form").on("submit", function(event) {
			//$ ("#score").value = score;
		});

		$ ("#ball").on("click", function(event) {
			incrementScore();
		});

		$ ("#scoreReset-button").on("click", function(event) {

			$ ("#score").value = score;
			resetScore();
		});
	</script>
{% endblock %}

