{% extends "base.html" %}

{% block title %}Bola{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			crossorigin="anonymous">  	
	</script>
	  <meta charset="UTF-8">
{% endblock %}

{% block page_content %}
	<canvas id="scenery" style="position: absolute; z-index: 1; border:3px solid"></canvas>
	<canvas id="player" style="position: absolute; z-index: 5;"></canvas>
	<canvas id="ball" style="position: absolute; z-index: 5;"></canvas>
	<div id="player-name" style="position: absolute; top: 80px; left: 250px; z-index: 10; font-size: 200%">Player: {{ player }}</div>
	<div id="highest-score" style="position: absolute; top: 110px; left: 250px; z-index: 10; font-size: 200%">Highest score: {{ highscore }}</div>
	<div id="game-time" style="position: absolute; top: 140px; left: 250px; z-index: 10; font-size: 200%">Survived time: 0</div>
	<p id="debug" style="position: absolute; left: 0; top: 540; z-index: 10;"></p>
	
	<script type="text/javascript">

	    // game vars
	    let IDLE = 8;
	    let JUMP = 9;
	    let WALK_START = 0;
	    let WALK_MAX = 8;
	    var getInputKey = {};
	    let gravity = 0.1;
	    let groundY = 512 - 25;

	    var isGameOver = false;
	    var gameTime = 0;
	    var gameTimerInveterval;
	    var deltaTime = 0;

	    // background vars
	    let backgroudWidth = 1024;
	    let backgroundHeight = 512;

	    // player vars
	    let playerWalkSpeed = 0.5;
	    let playerJumpPower = -35;
	    let playerAnimation = IDLE;    	
	    let playerW = 48, playerH = 60;

	    var playerX = 0;
	    var playerY = 0;

	    var playerVerticalVelocity = 0;
	    var isGrounded = true;
	    var isFacingRight = true;
	    var isWalking = false;

	    // ball vars
	    let ballW = 64, ballH = 64;
	    let ballMinHorizontalVelocity = 0.3;
	    let ballMaxHorizontalVelocity = 0.7;
	    let ballMinBounceForce = 10;
	    let ballMaxBounceForce = 40;

	    var ballX = 0;
	    var ballY = 0;
	    var ballVerticalVelocity = 0;
	    var ballHorizontalVelocity = 0;

	    // Obtener contexto del escenario
	    let backgroundContext = scenery.getContext("2d");
	    backgroundContext.canvas.width = backgroudWidth;
	    backgroundContext.canvas.height = backgroundHeight;
	      
	    // Crear y dibujar el fondo
	    let background = document.createElement("img");
	    background.src = "{{ url_for('static', filename='img/background.png') }}";
	    background.addEventListener("load", () => {
	    	backgroundContext.drawImage(background, 0, 0, backgroudWidth, backgroundHeight);
	    });

	    // Obtener contexto del canvas para el jugador
	    let playerContext = player.getContext("2d");
	    playerContext.canvas.width = backgroudWidth;
	    playerContext.canvas.height = backgroundHeight;

	    // Crear y dibujar el jugador
	    let playerImg = document.createElement("img");
	    playerImg.src = "{{ url_for('static', filename='img/player.png') }}";

	    // Obtener contexto del canvas para la bola
	    let ballContext = ball.getContext("2d");
	    ballContext.canvas.width = backgroudWidth;
	    ballContext.canvas.height = backgroundHeight;

	    // Crear y dibujar la bola
	    let ballImg = document.createElement("img");
	    ballImg.src = "{{ url_for('static', filename='img/smile.png') }}";


	    function gameStart()
	    { 
			setPlayerPosition(backgroudWidth / 2, groundY - playerH);

			ballHorizontalVelocity = getRndInteger(ballMinHorizontalVelocity, ballMaxHorizontalVelocity) * ((getRndInteger(0,1) == 1) ? 1 : -1);
			setBallPosition(backgroudWidth * 0.15, Math.floor(backgroundHeight/10));

			gameTimerInveterval = setInterval(updateGameTime, 1000);
	    }

	    function gameLoop(deltaTime)
	    {
	    	if (!isGameOver)
	    	{
				if(getInputKey["ArrowUp"]) {
					jump();
				}

				updatePlayerMovement();
				updatePlayerVerticalVelocity();
				updateBallMovement();

				if (collisionDetected())
				{
					gameOver();
					return;
				}
			}
	    }

	    function gameClear()
	    {
	        playerContext.clearRect(0, 0, playerW, playerH);
	        ballContext.clearRect(0, 0, ballW, ballH);
	    }

	    function gameDraw()
	    {
	    	drawPlayer();
	    	drawBall();
	    }

	    function gameOver()
	    {
	    	isGameOver = true;
	    	clearInterval(gameTimerInveterval);
	    	setTimeout(submitScore, 1500);
	    }

	    function submitScore()
	    {
			var params = {player: '{{ player }}', score: gameTime};
			post("/submit", params);
	    }

	    function collisionDetected()
	    {
	    	playerTop = playerY;
	    	playerBottom = playerY + playerH;
	    	playerLeft = playerX;
	    	playerRight = playerX + playerW;

	    	ballTop = ballY;
	    	ballBottom = ballY + ballH;
	    	ballLeft = ballX;
	    	ballRight = ballX + playerW;

	    	return playerTop < ballBottom && playerLeft < ballRight && playerBottom > ballTop && playerRight > ballLeft;
	    }

	    function jump()
	    {
			if (isGrounded)
			{
				isGrounded = false;
				playerVerticalVelocity = playerJumpPower;
			}
	    }

	    function updatePlayerMovement()
	    {
			var playerMoved = false;

			if(getInputKey["ArrowLeft"]) {
				playerMoved = move("Left");
			}
			else if(getInputKey["ArrowRight"]) {
				playerMoved = move("Right");
			}

			if (!isGrounded)
				playerAnimation = JUMP;
			else if (!playerMoved)
				playerAnimation = IDLE;
			else if (isWalking)
				playerAnimation = (playerAnimation + 1) % WALK_MAX;
			else
				playerAnimation = WALK_START;

			isWalking = playerMoved;
	    }

	    function updatePlayerVerticalVelocity()
	    {
			if (!isGrounded)
			{
				playerVerticalVelocity += gravity * deltaTime;

				movePlayer(0, playerVerticalVelocity);

				if (playerY >= groundY - playerH)
				{
					setPlayerPosition(playerX, groundY - playerH);
					isGrounded = true;
				}
			}
	    }

	    function updateBallMovement()
	    {
	    	ballVerticalVelocity += gravity * deltaTime;

	    	moveBall(ballHorizontalVelocity * deltaTime, ballVerticalVelocity);

	    	if (ballY >= groundY - ballH)
	    	{
	    		setBallPosition(ballX, groundY - ballH);
	    		var bounceForce = getRndInteger(ballMinBounceForce,ballMaxBounceForce);
	    		ballVerticalVelocity = -bounceForce;
	    	}
	    	else if (ballY <= 0)
	    	{
	    		setBallPosition(ballX, 0);
	    		ballVerticalVelocity *= -1;
	    	}

	    	if (ballX >= backgroudWidth - ballW)
	    	{
	    		setBallPosition(backgroudWidth - ballW, ballY);
	    		ballHorizontalVelocity = getRndInteger(ballMinHorizontalVelocity, ballMaxHorizontalVelocity) * -1;
	    	}
	    	else if (ballX <= 0)
	    	{
	    		setBallPosition(0, ballY);
	    		ballHorizontalVelocity = getRndInteger(ballMinHorizontalVelocity, ballMaxHorizontalVelocity);
	    	}

	    }

	    function move(direction)
	    {
	      var prevX = playerX;

	      if (direction == "Right")
	      {
	          isFacingRight = true;

	          movePlayer(playerWalkSpeed * deltaTime, 0);

	          if (playerX > backgroudWidth - playerW)
	            setPlayerPosition(backgroudWidth - playerW, playerY);
	      }
	      else if (direction == "Left")
	      {
	          isFacingRight = false;

	          movePlayer(-playerWalkSpeed  * deltaTime, 0);

	          if (playerX < 0)
	            setPlayerPosition(0, playerY);
	      }
	      else
	        console.log("Invalid direction!");

	      // return whether the player actually moved.
	      return prevX != playerX;
	    }

	    function drawPlayer()
	    {
			if (isFacingRight)
			{
				playerContext.drawImage(playerImg,
				   // Origen
				   playerAnimation * playerW, 0, playerW, playerH,
				   // Destino
				   0, 0, playerW, playerH);
			}
			else
			{
				playerContext.save();
				playerContext.scale(-1,1);
				playerContext.drawImage(playerImg,
					// Origen
					playerAnimation * playerW, 0, playerW, playerH,
					0,0,playerW * -1, playerH);
				playerContext.restore();        
			}
	    }

	    function drawBall()
	    {
	        ballContext.drawImage(ballImg, 0, 0, ballW, ballH);
	    }

	    function movePlayer(x, y)
	    {
	        playerContext.translate(x,y);
	        playerX += x;
	        playerY += y;
	    }

	    function setPlayerPosition(x, y)
	    {
	        playerContext.translate(x - playerX, y - playerY);
	        playerX = x;
	        playerY = y;
	    }

	    function moveBall(x, y)
	    {
	    	ballContext.translate(x,y);
	        ballX += x;
	        ballY += y;

	        //showDebugMessage("Ball x:" + ballX + " - y: " + ballY);
	    }

	    function setBallPosition(x, y)
	    {
	        ballContext.translate(x - ballX, y - ballY);
	        ballX = x;
	        ballY = y;

	        //showDebugMessage("Ball x:" + ballX + " - y: " + ballY);
	    }

	    function updateGameTime()
	    {
	    	gameTime++;
	    	document.getElementById("game-time").innerHTML = "Survived time: " + gameTime;
	    }

	    function clamp(number, min, max)
	    {
	    	return Math.min(Math.max(min, number), max);
	    }

	    function getRndInteger(min, max) {
		    return Math.floor(Math.random() * (max - min) ) + min;
		}

	    function showDebugMessage(message)
	    {
	      document.getElementById("debug").innerHTML = message;
	    }

		// Post to the provided URL with the specified parameters.
		function post(path, parameters) {
		    var form = $('<form></form>');

		    form.attr("method", "post");
		    form.attr("action", path);

		    $.each(parameters, function(key, value) {
		        var field = $('<input></input>');

		        field.attr("type", "hidden");
		        field.attr("name", key);
		        field.attr("value", value);

		        form.append(field);
		    });

		    // The form needs to be a part of the document in
		    // order for us to be able to submit it.
		    $(document.body).append(form);
		    form.submit();
		}
	    
	    // key events
	    document.addEventListener("keydown", function (e) {
	    	if (e.defaultPrevented) return;	    	
	    	getInputKey[e.key] = true;
	    });
	    document.addEventListener("keyup", function (e) {
	    	if (e.defaultPrevented) return;	    	
	    	getInputKey[e.key] = false;
	    });
	    
	    playerImg.addEventListener("load", () => { 
	    	setTimeout(initializeGame, 100);    
	    });

	    function initializeGame()
	    {
			gameStart();
			//setInterval(gameLoop, 60);	

	    	window.requestAnimationFrame(loop);    	
	    }

	    var lastRender = 0;
	    function loop(timeStamp)
	    {
	    	deltaTime = timeStamp - lastRender;

	    	gameClear();
	    	gameLoop(deltaTime);
	    	gameDraw();

	    	lastRender = timeStamp;
	    	window.requestAnimationFrame(loop);
	    }
	</script>
{% endblock %}

